<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144084769109-jiecv96cf43ktsk4tt496li4qeubcju6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144084769109-jiecv96cf43ktsk4tt496li4qeubcju6</string>
	<key>API_KEY</key>
	<string>AIzaSyATSX4tMOp_vh55zeC5wMoSuxwpthNFOjg</string>
	<key>GCM_SENDER_ID</key>
	<string>144084769109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tkbtveveryday.ttDiary</string>
	<key>PROJECT_ID</key>
	<string>tt-diary</string>
	<key>STORAGE_BUCKET</key>
	<string>tt-diary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144084769109:ios:7e9a7e3f6dfc9c5afd77dc</string>
</dict>
</plist>